.field {
    display: inline;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 25px;
    height: 50px;
    margin: 10px 0px;
    color: white;
    box-shadow: none;
}

.background {
    background: #E73058;
}

.field::placeholder {
    color: white;
    font-style: italic;
}

.field:focus {
    background: transparent;
    color: white;
    outline: none;
    border: 3px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.field:not(:placeholder-shown) {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
    border: 3px solid white;
}

.field:-webkit-autofill,
.field:-webkit-autofill:hover,
.field:-webkit-autofill:focus {
  border: 3px solid white;
  -webkit-text-fill-color: white;
  background: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

.datelabel {
    margin-right: 10px;
    width: 140px;
    text-align: left;
}